@import 'variables' 

$brand-primary: darken($red, 2%)
$brand-primary-invert: $white
$brand-secondary: #F8AC18
$brand-secondary-invert: $white

$colours: ('red': ($red, $red-invert), 'orange': ($orange, $orange-invert), 'yellow': ($yellow, $yellow-invert), 'green': ($green, $green-invert), 'blue': ($blue, $blue-invert), 'puple': ($purple, $purple-invert), 'violet': ($violet, $violet-invert)) 
$brand: ('brand-primary': ($brand-primary, $brand-primary-invert), 'brand-secondary': ($brand-secondary, $brand-secondary-invert)) 

$colours: map-merge($colours, $brand)

//** Typography  */
$sans-font: 'Montserrat', sans-serif 
$base-font: 'Montserrat', sans-serif
$black-weight: '900'
$font-weight: 300
$med-weight: 400 
$bold-weight: 600


$text--1: 0.618rem
$text--1: 0.7862rem
$text-00: 1rem
$text-01: 1.27rem
$text-02: 1.618rem
$text-03: 2.05rem
$text-04: 2.62rem

\:root 


	//////////////////////////////// 
	// ** CSS global variables ** //
	////////////////////////////////
	
	//** Layout *// 
	--body-margin:		0 
	--body-padding:		0 			
	--content-max-width: 88%
	--text-max-width: 	 42rem 
	--base-cols: 4	
	--min-col-width: #{$min-col-width}	
	--min-col-width-narrow: #{$min-col-width-narrow}	
	--max-content-width: #{$max-content-width}	
	
	//* Spacing *//
	--line-height: #{$line-height}
	--vertical-unit: #{$vertical-unit}
	--gutter: #{$gutter}
	--heading-line-height: 1.3
	--feature-padding: #{$gutter} * 3

	
	//* Responsive *//
	--x-small: #{$x-small}	
	--small: #{$small}	
	--tablet: #{$tablet}	
	--tablet-large: #{$tablet-large}	
	--laptop: #{$laptop}	
	--laptop-large: #{$laptop-large}	
	--desktop: #{$desktop}	
	--desktop-large: #{$desktop-large}	
	--big-screen: #{$big-screen}
	
	//** Colour *//
	--black: #{$black} 			
	--text-black: #{$text-black} 	

	//* Colours *//
	--red: #{$red}		
	--orange: #{$orange} 		
	--yellow: #{$yellow} 		
	--green: #{$green} 		
	--blue: #{$blue} 		
	--light-blue: #{$light-blue}  		
	--purple: #{$purple}	
	--violet:	#{$violet} 
	
	//* Shades *//						 		
	--white: #{$white}			
	--shade-f0: #{$shade-f0}
	--shade-e0: #{$shade-e0}
	--shade-d0: #{$shade-d0}
	--shade-c0: #{$shade-c0}
	--shade-b0: #{$shade-b0}
	--shade-a0: #{$shade-a0}
	--shade-90: #{$shade-90}
	--shade-80: #{$shade-80}
	--shade-70: #{$shade-70}
	--shade-60: #{$shade-60}
	--shade-50: #{$shade-50}
	--shade-40: #{$shade-40}
	--shade-30: #{$shade-30}
	--shade-20: #{$shade-20}
	--shade-10: #{$shade-10}
	
	/* Brand colours *//
	--brand-primary: #{$brand-primary}
	--brand-darker: #{$brand-darker}
	--brand-secondary: #{$brand-secondary}	
	--brand-primary-invert: 	 #{$brand-primary-invert}
	--brand-darker-invert: 	 #{$brand-darker-invert}
	--brand-secondary-invert: #{$brand-secondary-invert}	

	//** Typography  */
	--serif-font: #{$serif-font}
	--sans-font: #{$sans-font}
	--base-font: #{$base-font}
	--heading-font: #{$sans-font}
	
	--text-colour: #{$text-black}
	--heading-colour: #{$text-black}

	--link-color: #{$brand-primary}
	--link-active-color: #{$brand-darker}
	--link-active-weight: #{$bold-weight}
	
	--text-line-height: #{$line-height}
	--heading-line-height: 1.3
	--font-weight: #{$font-weight}
	--med-font-weight: #{$med-weight} 
	--bold-font-weight: #{$bold-weight} 
	--black-font-weight: #{$black-weight} 
	
	--text-font-weight: #{$font-weight}

	--heading-font-weight: #{$bold-weight}
	
	
	//* Golden ratio scale  *//
	//$text--1: 0.7862rem
	//$text-00: 1rem
	//$text-01: 1.27rem
	//$text-02: 1.618rem
	//$text-03: 2.05rem
	//$text-04: 2.62rem	
	--x-small-text:	#{$text--2} 	//0.618rem			
	--small-text: #{$text--1} 		//0.782rem
	--regular-text: #{$text-00} 	//1rem
	--med-small-text: #{$text-01} //1.27rem
	--med-text: #{$text-02} 			//1.618rem
	--large-text: #{$text-03} 		//2.05rem
	--x-large-text: #{$text-04} 	//2.62rem
	


	//* Animations */
	--quicktrans: #{$quicktrans}
	--medtrans: #{$medtrans}
	--menuSlideTransition: #{$quicktrans}
	--buttonTransition: #{$medtrans}
	--easing: #{$easing}
	--bounce: #{cubic-bezier(0.93,.1,.195,1)}


